.header_css{
    height: 40mm;
}
.right_css{
    height: 40mm;
    width: 57mm;
    float:right;
    position:relative;
    display: table;
}
.left_css{
    height: 40mm;
    width: 180mm;
    float:left;
  }
.top_css{
    height: 20mm;
    width: 57mm;
    text-align:center;
    font-size:26px;
    display: table-cell;
    vertical-align: bottom;
}
.bottom_css{
    height: 20mm;
    width: 57mm;
    text-align:center;
    font-size:26px;
    display: table-cell;
    vertical-align: bottom;

}
.detial_css{
    height: 67mm;

}
.detial_middle{
    width: 79mm;
    height: 67mm;
    margin-left:79mm;

}
.detial_one{
    width: 79mm;
    height: 67mm;
    float:left;

}
.detial_two{
    width: 79mm;
    height: 67mm;
    float:right;


}
.total_css{
    height: 13mm;
    font-weight:bold;
    font-size:26px;

}
.total_right{
    height: 13mm;
    width: 82mm;
    float:right;

}
.total_right_money{
    height: 13mm;
    width: 52mm;
    float:left;

}
.total_right_person{
    height: 13mm;
    width: 30mm;
    float:right;

}
.total_left{
    height: 13mm;
    width: 155mm;
    float:left;

}
.useless{
    height: 57mm;

}